body {
    background: linear-gradient(242.08deg, #52BEDB 2.59%, rgba(66, 191, 225, 0.79375) 26.01%, #47CCDB 59.83%, #6E9CDA 107.14%);
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Poppins";
}

.setting-001 {
    width: 1000px;
    height: 550px;
    background-color: #ffffff;
    position: relative;
}

.setting-002 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.setting-003 {
    width: 20%;
    height: 35%;
    border-radius: 100%;
    border: 5px solid #F5FAFD;
    position: absolute;
    bottom: -17%;
    left: -10%;
    z-index: -1;
}

.setting-004 {
    width: 20%;
    height: 35%;
    border-radius: 100%;
    border: 5px solid #F5FAFD;
    position: absolute;
    top: -17%;
    right: -10%;
}

.setting-005 {
    width: 8%;
    height: 14%;
    border-radius: 100%;
    border: 4px solid #F5FAFD;
    position: absolute;
    top: -20%;
    left: 40%;
    z-index: -1;
}

.setting-006 {
    position: relative;
    top: 12%;
    left: 7%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 100%;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: white;
    text-decoration: none;
}

.setting-007 {
    position: relative;
    height: 50%;
    top: 18%;
    left: 2%;
}

.form-001 {
    position: absolute;
    width: 48%;
    right: 0;
    top: 0;
}

.form-002 {
    position: relative;
    width: 100%;
    left: 40px;
    top: 0;
}

.form-002 button {
    position: relative;
    left: 15px;
    bottom: -40px;
}

.setting-008 {
    display: flex;
    gap: 10%;
}

.text-001 {
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
}

.text-002 {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 0;
}

.text-003 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
}

.input-001 {
    background: transparent;
    width: 80%;
    border: none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;
    position: relative;
}

.input-002 {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;
    position: relative;
}

.button-001 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: white;
    position: relative;
    bottom: -90px;
    left: -90px;
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 8px;
    background: #0369BB;
}


.setting-101 {
    display: none;
    position: relative !important;
    background-color: whitesmoke;
    width: 90%;
}

.hidden-1 {
    display: none;
}

@media (max-width: 960px) {

    .setting-001 {
        display: none;
    }

    .setting-101 {
        display: block;
    }
}

@media(max-width: 550px) {

    .text-001 {
        font-size: 20px;
    }

    .text-002 {
        font-size: 14px;
    }

    .button-001 {
        width: 70%;
    }

    .setting-008 {
        flex-direction: column;
    }

    .input-002,
    .input-001 {
        width: 70%;
    }

    .change-001 {
        left: 65%;
    }

    .hidden-1 {
        display: block;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    height: 20px;
    width: 50px;
    position: absolute;
    right: -30px;
    top: -10px;
    z-index: 10;
    filter: invert(1);
}